---
import Layout from '../layouts/layout.astro';
---

<Layout>
	<div class="card w-auto bg-primary p-8 text-white">
		<div class="card-title">
			<h1 class="mb-4 text-4xl font-bold">Play and Learn</h1>
		</div>
		<!-- <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
		<div class="card-body">
			<button class="btn btn-secondary"><span class="text-primary-content">Play</span></button>
		</div>
	  </div>
	
</Layout>
