---
import Layout from "../layouts/layout.astro";

import { UserIcon } from "@heroicons/react/24/solid";

const logo = `/images/home-logo-${Math.ceil(Math.random() * 4)}.jpeg`;
---

<Layout>
  <div class="card bg-primary text-white">
    <figure class="px-10 pt-10">
      <img
        class="mask mask-hexagon-2 h-40 xs:h-60 md:h-72 lg:h-80"
        src={logo}
        alt="logo"
      />
    </figure>
    <div class="card-body text-center items-center">
      <div class="card-title">
        <UserIcon height={60} />
      </div>
      <form action="/api/login" method="POST">
        <button class="btn btn-secondary btn-lg w-56 mt-4">
          <input type="hidden" name="provider" value="google" />
          <span class="text-primary-content">Login with google</span>
        </button>
      </form>
    </div>
  </div>
</Layout>
