---
import { Cog6ToothIcon, HomeIcon } from "@heroicons/react/24/solid";
import { User } from "./user";

const { pathname } = Astro.url;

const homeClass = pathname === "/" ? "active text-blue-400" : undefined;
const SettingsClass =
  pathname === "/settings" ? "active text-blue-400" : undefined;
---

<div class="btm-nav z-20">
  <a href="/">
    <button class={homeClass}>
      <div class="flex-col flex items-center w-32">
        <HomeIcon className={homeClass} height={32} />
        <span class="btm-nav-label">Home</span>
      </div>
    </button>
  </a>

  <User client:only />

  <a href="/settings">
    <button class={SettingsClass}>
      <div class="flex-col flex items-center w-32">
        <Cog6ToothIcon className={SettingsClass} height={32} />
        <span class="btm-nav-label">Definições</span>
      </div>
    </button>
  </a>
</div>
