---
import BottomNav from '../components/bottomNav.astro';

const background = `background-image: url(/backgrounds/home-${Math.ceil(Math.random() * 13)}.jpeg)`;

const playAndLearnCookie = Astro.cookies.get('__play_and_learn__');

let theme = 'retro';

try {
	if(playAndLearnCookie){
		theme = playAndLearnCookie.json().settings.theme;
	}
} catch(err){}
---

<!doctype html>
<html lang="pt" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Play and Learn</title>
	</head>
	<body>
		<div class="hero min-h-screen" style={background}>
			<div class="hero-overlay bg-opacity-60"></div>
			<div class="hero-content text-center text-neutral-content">
				<!-- <Header /> -->
				<slot />
				<BottomNav />
				<!-- <Footer /> -->
			</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
